<h1>メッセージ一覧</h1>

<ul>
  <% @messages.each do |message| %>
    <li><%= link_to message.id, message %> : <%= message.content %></li>
  <% end %>
</ul>

<p><%= @xxxx %></p>
<p><%= @zzzz %></p>

    
    <p>
<%= @img_url.each_with_index do |img_url, i| %>
<p><%= image_tag img_url %></p>
<% end %>
     
<figure>
  <figcaption>No.1</figcaption>
  <p class="image_tag"><%= image_tag 'https://d2dcan0armyq93.cloudfront.net/photo/odai/600/6a8ec20144e25e6f915b144f79cffdef_600.jpg',width: '100%', height: '100%' %></p>
  <figcaption>bokete 1</figcaption>
</figure>






<%= link_to '新規メッセージの投稿', new_message_path %>