<%= stylesheet_link_tag "index", :media => "all" %>

<wrapper>
<header>
<div class="top-left">
  <div><%= image_tag 'search.svg' %></div>
  <p>search</p>
</div>
  
  
<div class="top-center">  
  <h1>タイトル</h1>
  <span class="A">リンクA</span><span class="B">リンクB</span>
</div>

<div class="top-right">
  <div>MENU</div>
</div>
</header>

<div class="text_slider"><p>Welcome to my page, 「タイトル（考え中）」!!</p></div>


<div class="contents_bar">
    <span class="A">リンクA</span><span class="B">リンクB</span>
  </div>
  <div class="text_slider"><p>Welcome to my page, 「タイトル（考え中）」!!オーダーメイドいけます！！</p></div>

  <div class="image_slider">
    <div><%= image_tag 'SAYA.jpg', size: '350x300' %></li>
    <div><%= image_tag 'YUKA.jpg', size: '350x300' %></li>
    <div><%= image_tag 'SAYA.jpg', size: '350x300' %></li>
    <div><%= image_tag 'YUKA.jpg', size: '350x300' %></li>
    <div><%= image_tag 'SAYA.jpg', size: '350x300' %></li>
    <div><%= image_tag 'YUKA.jpg', size: '350x300' %></li>
  </div>



<h2>メッセージ一覧</h2>



<ul>
  <% @messages.each do |message| %>
    <li><%= link_to message.id, message %> : <%= message.content %></li>
  <% end %>
</ul>
     
<%= link_to '新規メッセージの投稿', new_message_path %>
</wrapper>