<%= stylesheet_link_tag "bokes_index", :media => "all" %>


<wrapper>
  <section>
    <h4>メッセージ一覧</h4>
    <ul>
      <% @messages.each do |message| %>
        <li><%= link_to message.id, message %> : <%= message.content %></li>
      <% end %>
    </ul>

  </section>
  <section>
  <span class="btn btn-primary"><%= link_to '投稿されたボケを見る', boke_path(id: :id) %></span>
  <div>
    <% @img_url.each_with_index do |img_url, i| %>
    <figure class="card" style="width: 400px;">
    <figcaption>No. <%= i+1 %></figcaption>
    <p class="image card-img-top" alt="..."><%= image_tag img_url,width: '350px', height: '350px'  %></p>
    <span class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"><%= img_url  %></p>
        <span class="btn btn-primary"><%= link_to 'ボケる',new_boke_path(img_url: img_url) %></span>
      </span>
    </figure>
    <% end %>
  </div>
</section>

<footer>
<%= link_to '新規メッセージの投稿', new_message_path %>
</footer>
</wrapper>