<%= stylesheet_link_tag "modal", :media => "all" %>
<%= stylesheet_link_tag "bokes_index", :media => "all" %>


<wrapper>
  <header class="top_index">
  <nav>
    <div class="top-left">
      <p class="search"><%= image_tag 'search_white.png', size: '25x25' %></p>
      <p>search</p>
    </div>
        
        
    <div class="top-center">  
      
    </div>
      
    <div class="top-right">
      <div id="modalOpen" class="menu">MENU</div>
    </div>
  </nav>
  </header>
  <section>
    <div class="title">
      <h7>Pythonによるボケて！のサイトから大喜利のお題をWebスクレイピングした大喜利保存サイト boke</h7>
    </div>
    <h4>メッセージ一覧</h4>
    <ul>
      <% @messages.each do |message| %>
        <li><%= link_to message.id, message %> : <%= message.content %></li>
      <% end %>
    </ul>

  </section>
  <section>
  <span class="btn btn-primary"><%= link_to '投稿されたボケを見る', boke_path(id: :id) %></span>
  <div>
    <% @img_url.each_with_index do |img_url, i| %>
    <figure class="card" style="width: 400px;">
    <figcaption>No. <%= i+1 %></figcaption>
    <p class="image card-img-top" alt="..."><%= image_tag img_url,width: '350px', height: '350px'  %></p>
    <span class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"><%= img_url  %></p>
        <span class="btn btn-primary"><%= link_to 'ボケる',new_boke_path(img_url: img_url) %></span>
      </span>
    </figure>
    <% end %>
  </div>
</section>

<footer>
<%= link_to '新規メッセージの投稿', new_message_path %>
</footer>
  <!--モーダルウィンドウ（MENUクリック時に呼び出されるHTML/CSS要素）-->
  <div id="easyModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Great job 🎉</h2>
        <span class="modalClose">×</span>
      </div>
      <div class="modal-body">
        <p>You've just displayed this awesome Modal Window!</p>
        <p>Let's enjoy learning JavaScript ☺️</p>
        <a href="https://twitter.com/unounounouno31"><img class="twitter_icon" src="/assets/twitter_icon.jpeg" alt="twitter" width="30" height="30"></a>
        <a href="https://www.youtube.com/"><img class="youtube_icon" src="/assets/youtube.jpeg" alt="youtube" width="30" height="30"></a>
        <p></p>
        <ul>
          <nav>
            <li><%= link_to '会社概要', root_path, class: "text-decoration-none" %></li>
            <li><%= link_to 'tiktoker紹介', tiktokers_path, class: "text-decoration-none" %></li>
            <li><%= link_to 'Pythonによるボケて！のサイトから大喜利のお題をWebスクレイピングした大喜利保存サイト boke', bokes_path, class: "text-decoration-none" %></li>
          </nav>
        </ul>
        <div>今までのサイト（別ページへ）　</div>
        <p><%= link_to '楽天の書籍検索APIを用いたブックレビューサイト myfavorites ', 'https://bookreview20220205.herokuapp.com/', class: "text-decoration-none" %></p>
      </div>
    </div>
  </div>
  <!--モーダルウィンドウ（終）-->
  </wrapper>
  
   <%= javascript_include_tag 'index', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    