<%= stylesheet_link_tag 'bokes_index', :media => 'all' %>

<wrapper>
  <h4>ランダム</h4>
  <section>
  <span class="btn btn-primary"><%= link_to 'スクレイピング新しいお題の画像を取得（1日1回）', boke_path(id: :id) %></span>
  <span class="btn btn-success"><%= link_to '????（何でも可）', show2_path(id: :id) %></span>
  <div>
    <%= 9.times do %>
    <figure class="card" style="width: 400px;">
    <figcaption>No. <%= @i %></figcaption>
    <p class="image card-img-top" alt="..."><%= image_tag @random_image[@i],width: '350px', height: '350px'  %></p>
    <span class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="./bokes/new" class="btn btn-primary">ボケる</a>
      </span>
    </figure>
    <p class="count"></p><% @i += 1 %></p>
    <% end %>
  </div>
</section>

<footer>
<%= link_to '新規メッセージの投稿', new_message_path %>
</footer>
</wrapper>