<%= stylesheet_link_tag "bokes_index", :media => "all" %>

 <section>
  <span class="btn btn-primary"><%= link_to 'ボケを選びに戻る', bokes_path(id: :id) %></span>
  <div>
    <% @img_url.each_with_index do |img_url, i| %>
    <figure class="card" style="width: 400px;">
    <figcaption>No. <%= i+1 %></figcaption>
    <p class="image card-img-top" alt="..."><%= image_tag img_url.image_url,width: '350px', height: '350px'  %></p>
    <span class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"><%= img_url.boke  %></p>
        <span class="btn btn-primary"><%= link_to 'ボケる',edit_boke_path(id: img_url.id,img_url: img_url.image_url) %></span>
        <span class="btn btn-danger"><%= link_to 'ボケを消す',delete_path(id: img_url.id) %></span>
      </span>
    </figure>
    <% end %>
  </div>
</section>