<%= stylesheet_link_tag "index", :media => "all" %>
<%= stylesheet_link_tag "modal", :media => "all" %>


<div class="above"><p>ぱくたそmodel 一覧</p></div>
  <div class="menber_activity">
      <div class="menber_activity_image1">
      <h2> 1 さや </h2>
      <div><span><%= image_tag 'SAYA.jpg', size: '350x300' %></span><p>天真爛漫のぱくたそmodel。心踊る世界を夢見て、ぱくたそmodelへと転身。「私の道を決めるのは、質でも量でもない、心のトキメキ具合だ！（ドン）」</p></div>
      </div>
    <div class="menber_activity_image2">
      <h2> 2 ゆか </h2>
      <div><span><%= image_tag 'YUKA.jpg', size: '350x300' %></span><p>誠心誠意のぱくたそmodel。見たものを和ませ、唯一無二の感情を生み出す。彼女のモットーは、「雨のち晴れ」</p></div>
    </div>
    <div class="menber_activity_image3">
      <h2> 3 そら </h2>
      <div><span><%= image_tag 'sora1.jpg', size: '350x300' %></span><p>理路整然のぱくたそmodel。論理的に思考し、最適解を常に導くことを生きがいにしている。「詰将棋をしているときに浮かぶ棋譜」をあるあるネタにしてくる。</p></div>
    </div>
    <div class="menber_activity_image4">
      <h2> 4 はしも。 </h2>
      <div><span><%= image_tag 'はしも。1.jpg', size: '350x300' %></span><p>四苦八苦のぱくたそmodel。常にネタを考えているが、ボツになることもしばしば。彼が唯一市民権を得た特技は、ネタがなくて煮詰まった時に出る「困り顔」</p></div>
    </div>
  </div>
  <div class="under"></div>
  
      <%= javascript_include_tag 'index', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
 